@media only screen and (max-width: 425px) {
  #corp_de_page {
    display: block;
  }
  html .body_menus {
    display: block;
  }
  #menu_2 .nom_menu {
    font-size: 19px;
  }
  .body_menus .page_menu{
    width: auto;
  }
  .mentions_contact a {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 768px) {
  html body #corp_de_page {
    display: contents;
  }
  .body_menus .page_menu{
    width: auto;
  }
  .content_menu_content .plats_prix{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  .prix {
    margin-top: 4px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #corp_de_page {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  #la_note_enchantee,
  #le_chic_a_la_française,
  #le_delice_des_papilles,
  #la_palette_du_gout {
    width: fit-content;
    margin: 0;
  }
  html .body_menus {
    width: fit-content;
  }
}