$background-color_hfn: #579c87; /*background-color header, footer, bouton next*/
$font-color_hfn: #f1c849; /*couleur police header, footer, bouton next*/
$background-color_menu_1: #fcdfdb; /*couleur background du menu enchantée*/
$background-color_menu_2: #fff5fe; /*couleur background menu chic à la française*/
$background-color_menu_3: #fbfbfb; /*couleur background menu le delices des papilles*/
$background-color_menu_4: #ffffff; /*couleur background menu la palette du gout*/
$font-color_menu_1: #3c1218; /*couleur de police et notes menu enchantée*/
$gradient-note_menu_1: -webkit-linear-gradient(155deg, #f6916a, #f05160); /*couleur graduée des notes du menu enchantée*/
$gradient_menu_2: -webkit-linear-gradient(155deg, #6e4ccc, #a56799, #c67513);
$font-color_title2_menu2: #c67513; /* couleur police du titre "menu" du menu chic à la française et du titre de l'entrée*/
$font-color_main-dish_menu2: #a56799; /* couleur police plat principal menu chic à la française*/
$font-color_dessert_menu2: #6e4ccc; /* couleur police plat dessert menu chic à la française*/
$gradient_menu_3: -webkit-linear-gradient(155deg, #0889fb, #0023db);
$font-color_title2_menu3: #0887fb; /* couleur police du titre "menu" du menu le délice des papilles*/
$font-color_entree_menu3: #0228dd; /* couleur police du plat entrée*/
$font-color_main-dish_menu3: #0670f3; /* couleur police plat principal*/
$font-color_dessert_menu3: #229df9; /* couleur police dessert */
$gradient_menu_4: -webkit-linear-gradient(155deg, #beff7f, #3e923a);
$font-color_title2_menu4: #72bf56; /* couleur police du titre "menu" du menu la palette du goût*/
$color_surlign_menu4: #3e923a; /* une des couleur du dégradé et du soulignement du menu la palette du goût*/